* {
	font-family: 'STIX Two Math', serif;
}
a{
	text-decoration: none;
}
.cv-position {
	display: grid;
	grid-template-columns: 1fr 2fr;
	margin: 0 auto;
	width: 100%;
	max-width: 950px;
}
.header {
	grid-column:2/3;
	grid-row: 1/2;
	border-top: solid 1px #494D4D;
	border-right: solid 1px #494D4D;
	color: #494D4D;
}
.aside {
	grid-column:1/2;
	grid-row: 1/3;
	padding: 15px;
	background-color: #116C6E;
	color: #ffffff;
}
.main {
	grid-column:2/3;
	grid-row: 2/3;
	color: #494D4D;
	border-right: solid 1px #494D4D;
	
	
}
.footer {
	grid-column:1/3;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #494D4D;
	border-left: solid 1px #494D4D;
	border-right: solid 1px #494D4D;
	border-bottom: solid 1px #494D4D;
	
}
h1 {
	text-align: center;
	font-size: 35px;
}
h2 {
	position: relative;
	margin: 10px 20px;
	font-size: 25px;
}
h2::after {
	content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 2;
    background-color: #454545;
}
h3 {
	margin: 10px 10px;
	font-size: 20px;
}
p {
	font-size: 16px;
}
.cv-foto {
	display: block;
	margin: 10px auto;
	border-radius: 50%;
	border: solid 5px #ffffff;
}
.link-aside {
	color: #ffffff;
}
.no-list {
	padding-left: 25px;
	list-style-type: none;
	
}
.no-list li {
	margin-bottom: 5px;
}
.paragraff-aside p,
.paragraff p{
	padding: 0 15px 0 25px;
	margin: 0;
}
.paragraff-profile p{
	padding: 0 15px 0 25px;
	margin: 0;
	text-indent: 25px;
}
.paragraff {
	margin: 10px 0;
	display: grid;
	grid-template-columns: 170px 1fr;
}
.position {
	font-weight: bold;
	font-style: italic;
}
.company {
	font-weight: bold;
	font-size: 14px;
}
.institution {
	font-weight: bold;
}
.time-period {
	font-style: italic;

}
.link a{
	color: #000000;
}
